body {
  font-family: sans-serif;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
}

.container {
}

h1, h2, h3 {
  font-weight: 300;
  text-align: center;
  max-width: 100%;
  word-break: break-all;
}
